<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}Modern Tribe: Products Engineering</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/normalize.css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/689960/768184/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/font-awesome.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/foundation.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/app.css" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/stylesheets/github-light.css" media="screen">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="{% if 'front' == page.tags %}homepage{% else %}internal{% endif %}">
<nav id="primary-nav">
	<a class="logo" href="{{ site.github.url }}">
		<img src="{{ site.github.url }}/images/logo.png" class="logo-image" itemprop="logo" alt="Modern Tribe logo">
		<span class="logo-anchor-text">
			Engineering
		</span>
	</a>
	<ul class="links">
		<li><a href="{{ site.github.url }}/guidelines/" class="{% if 'guidelines' == page.tags %}active{% endif %}">Guidelines</a></li>
		<li><a href="{{ site.github.url }}/git/" class="{% if 'git' == page.tags %}active{% endif %}">Git</a></li>
		<li><a href="{{ site.github.url }}/php/" class="{% if 'php' == page.tags %}active{% endif %}">PHP</a></li>
		<li><a href="{{ site.github.url }}/js/" class="{% if 'js' == page.tags %}active{% endif %}">JS</a></li>
		<li><a href="{{ site.github.url }}/css/" class="{% if 'css' == page.tags %}active{% endif %}">CSS</a></li>
		<li><a href="{{ site.github.url }}/structure/" class="{% if 'structure' == page.tags %}active{% endif %}">Structure</a></li>
	</ul>
</nav>
<section class="page-header">
	{% if site.github.url == page.url %}
		<h1 class="project-name">Hello, fellow coder.</h1>
		<h2 class="project-tagline">Pull requests welcome!</h2>
	{% else %}
		<h1 class="project-name">{{page.title}}</h1>
	{% endif %}
</section>
<section class="main-content row">
	<div class="small-12">
