html, body {
	padding: 0;
	margin: 0;
	background: #343642;
}

body {
	min-height: 100vh;
	color: $dark-grey;
	-webkit-font-smoothing: antialiased;
}

h2, h2 a {
	color: $dark-grey;

	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

ul, ol {
	margin-top: 20px;
	margin-bottom: 20px;
	li {
		margin: 0 0 10px 0;
	}
}

table {
	padding: 5px;
	margin-top: 1.5em;
	display:block;
	width:100%;
	overflow:auto;
	border-spacing: 0;
	border-collapse: collapse;

	th {
		font-weight:600
	}

	th,
	td {
		padding:6px 13px;
		border:1px solid #dfe2e5;

		code {
			white-space: nowrap;
		}
	}

	tr {
		background-color:#fff;
		border-top:1px solid #c6cbd1
	}

	tr:nth-child(2n) {
		background-color:#f6f8fa
	}

	img {
		background-color:transparent
	}
}

code, pre, tt {
	font-family: Inconsolata,Consolas,Courier,"Courier New","Liberation Mono",monospace;
	font-size: .9em;
	white-space: pre-wrap;
	border-radius: 2px;
	line-height: 1.4;
	font-weight: 400;
	border-radius: 2px;
	padding: 2px 5px;
	margin: 0;
}

tt, pre {
	background-color: #404145;
	color: #FAFAFA;
}

pre > code {
	background-color: #404145;
	color: #FAFAFA;
}

code.highlighter-rouge {
	background: #eee;
	color: #222;
	padding: 3px 6px;
	border-radius: 4px;
	position: relative;
	top: -1px;
	margin: 0 3px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.highlighter-rouge {
	margin-bottom: 1.75em;
}