// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";
$bigger-screen: "(min-width: 1150px)";

// Colors

$dark-grey: #222;
$medium-grey: #666;
$light-grey: #ccc;
$header-color: #1CA8C7;

$link-color: #4A4A4A;
$link-hover-color: #111;

$color-stone: #F2F1F0;
$color-urban-grey: #5F7777;
$color-asphalt: #3E4849;
$color-blue-mountain: #157F9D;