---
layout: default
---
{% assign categories = site.categories | sort %}
{% for category in categories %}
	{% assign name = category[0] %}
	{% assign posts = category[1] %}
	{% assign size = posts | size %}
	<section class="archive-category archive-category-{{ name | slugify }}">
		<h2>
			{{ name | replace: "-", " " }}
		</h2>

		{% include listings.html listings=posts %}
	</section>
{% endfor %}

<section class="archive-error">
	<h2>
		We couldn't find any Documentation for this Category
	</h2>
</section>

<script>
$( document ).ready( function() {
	if ( ! window.location.hash ) {
		return;
	}

	var category = window.location.hash.replace( '#', '' ).replace( '/', '' );
	var $categories = $( '.archive-category' ).hide();
	var $active = $categories.filter( '.archive-category-' + category );

	// Display the error
	if ( ! $active.length ) {
		var $error = $( '.archive-error' );

		$error.show();
		return;
	}

	$active.show();
} );
</script>
